.navbar8-wrapper {
  display: contents;
}
.navbar8-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navbar8-image1 {
  height: 3rem;
}
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar8-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar8-link11 {
  text-decoration: none;
}
.navbar8-link31 {
  text-decoration: none;
}
.navbar8-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar8-action11 {
  display: flex;
  flex-direction: row;
}
.navbar8-action21 {
  display: flex;
  flex-direction: row;
}
.navbar8-burger-menu {
  display: none;
}
.navbar8-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar8-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar8-logo {
  height: 3rem;
}
.navbar8-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar8-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar8-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.navbar8-link12 {
  text-decoration: none;
}
.navbar8-link32 {
  text-decoration: none;
}
.navbar8-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navbar8-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-icon14 {
  width: 24px;
  height: 24px;
}
.navbar8-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar8-icon16 {
  width: 24px;
  height: 24px;
}
.navbar8-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.navbar8-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page1-image {
  width: 50px;
  height: 50px;
}
.navbar8-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-page1 {
  font-style: normal;
  font-weight: 600;
}
.navbar8-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page2-image {
  width: 50px;
  height: 50px;
}
.navbar8-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-page2 {
  font-style: normal;
  font-weight: 600;
}
.navbar8-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page3-image {
  width: 50px;
  height: 50px;
}
.navbar8-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-page3 {
  font-style: normal;
  font-weight: 600;
}
.navbar8-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar8-page4-image {
  width: 50px;
  height: 50px;
}
.navbar8-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar8-page4 {
  font-style: normal;
  font-weight: 600;
}
.navbar8-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
.navbar8-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.home-fragment21 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text19 {
  display: inline-block;
}
.home-link1 {
  text-decoration: underline;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text24 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text18 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text23 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
}
@media(max-width: 767px) {
  .navbar8-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar8-desktop-menu {
    display: none;
  }
  .navbar8-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar8-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar8-container4 {
    grid-gap: 0;
  }
}
@media(max-width: 479px) {
  .navbar8-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar8-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero11-wrapper {
  display: contents;
}
.hero11-header77 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.hero11-max-width {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.hero11-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.hero11-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero11-actions {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.hero11-button1 {
  flex: 1;
}
.hero11-button2 {
  flex: 1;
}
.hero11-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 60%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero11-row1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
}
.hero11-row2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  z-index: 1;
  align-items: flex-start;
}
.hero11-image {
  width: 100%;
  height: 419px;
  object-fit: cover;
}
.home-fragment24 {
  display: contents;
}
.home-text25 {
  display: inline-block;
}
.home-link2 {
  text-decoration: underline;
}
.home-fragment25 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-link3 {
  text-decoration: underline;
}
.home-fragment26 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
@media(max-width: 991px) {
  .hero11-header77 {
    flex-direction: column;
  }
  .hero11-max-width {
    flex-direction: column;
  }
  .hero11-column {
    width: 100%;
  }
  .hero11-content2 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .hero11-text10 {
    text-align: center;
  }
  .hero11-actions {
    width: 100%;
    justify-content: center;
  }
  .hero11-content2 {
    padding: var(--dl-space-space-threeunits);
  }
  .hero11-row1 {
    width: 100%;
    flex-direction: column;
  }
  .hero11-row2 {
    width: 100%;
    display: none;
  }
}
@media(max-width: 479px) {
  .hero11-column {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .hero11-actions {
    flex-direction: column;
  }
  .hero11-button1 {
    width: 100%;
  }
  .hero11-button2 {
    width: 100%;
  }
  .hero11-content2 {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.features25-wrapper {
  display: contents;
}
.features25-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features25-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features25-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  cursor: pointer;
  height: 386px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features25-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features25-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features25-content {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features25-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features25-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features25-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features25-image-container {
  width: 425px;
  height: 100%;
  display: flex;
  position: relative;
}
.features25-container5 {
  flex: 0 0 auto;
  width: 0px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  flex-direction: column;
}
.features25-container6 {
  flex: 0 0 auto;
  width: 243px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.features25-container7 {
  flex: 0 0 auto;
  width: 243px;
  height: 452px;
  display: flex;
  flex-direction: column;
}
.features25-image1 {
  width: 415px;
  height: 155px;
  object-fit: cover;
}
.features25-image2 {
  width: 414px;
  height: 134px;
  object-fit: cover;
}
.features25-image3 {
  width: 418px;
  height: 142px;
  object-fit: cover;
}
.home-fragment27 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment28 {
  display: contents;
}
.home-text31 {
  display: inline-block;
}
.home-text32 {
  font-size: 20px;
}
.home-text33 {
  font-size: 20px;
}
.home-text34 {
  font-size: 20px;
}
.home-text35 {
  font-size: 20px;
}
.home-text36 {
  font-size: 20px;
}
@media(max-width: 991px) {
  .features25-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .features25-tabs-menu {
    order: 2;
  }
}

.cta2-wrapper {
  display: contents;
}
.cta2-container1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.cta2-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.cta2-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.cta2-container2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  display: flex;
  flex-direction: column;
}
.cta2-row {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.cta2-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  justify-content: center;
}
.home-fragment30 {
  display: contents;
}
.home-text41 {
  display: inline-block;
}
.home-fragment31 {
  display: contents;
}
.home-text42 {
  display: inline-block;
}
.home-fragment32 {
  display: contents;
}
.home-text43 {
  display: inline-block;
}
.home-fragment29 {
  display: contents;
}
.home-text38 {
  display: inline-block;
}
.cta2root-class-name {
  align-self: center;
}
@media(max-width: 991px) {
  .cta2-container2 {
    width: auto;
    align-items: flex-start;
  }
  .cta2-row {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
  }
  .cta2-container3 {
    align-self: flex-end;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .cta2-container2 {
    gap: var(--dl-space-space-unit);
  }
  .cta2-row {
    align-self: flex-start;
  }
  .cta2-container3 {
    width: 100%;
    flex-direction: column;
  }
}

.testimonial17-wrapper {
  display: contents;
}
.testimonial17-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial17-container10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.testimonial17-container12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-text13 {
  text-align: left;
}
.testimonial17-container14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-text16 {
  text-align: left;
}
.testimonial17-container16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-text19 {
  text-align: left;
}
.testimonial17-container18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial17-image4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial17-container19 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.testimonial17-text22 {
  text-align: left;
}
.home-fragment37 {
  display: contents;
}
.home-text52 {
  display: inline-block;
}
.home-fragment34 {
  display: contents;
}
.home-text47 {
  display: inline-block;
}
.home-fragment45 {
  display: contents;
}
.home-text62 {
  display: inline-block;
}
.home-fragment41 {
  display: contents;
}
.home-text58 {
  display: inline-block;
}
.home-fragment35 {
  display: contents;
}
.home-text50 {
  display: inline-block;
}
.home-fragment38 {
  display: contents;
}
.home-text53 {
  display: inline-block;
}
.home-fragment44 {
  display: contents;
}
.home-text61 {
  display: inline-block;
}
.home-fragment39 {
  display: contents;
}
.home-text54 {
  display: inline-block;
}
.home-fragment42 {
  display: contents;
}
.home-text59 {
  display: inline-block;
}
.home-fragment40 {
  display: contents;
}
.home-text57 {
  display: inline-block;
}
.home-fragment33 {
  display: contents;
}
.home-text46 {
  display: inline-block;
}
.home-fragment36 {
  display: contents;
}
.home-text51 {
  display: inline-block;
}
.home-fragment43 {
  display: contents;
}
.home-text60 {
  display: inline-block;
}
@media(max-width: 991px) {
  .testimonial17-container10 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .testimonial17-container10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial17-card1 {
    width: 100%;
  }
  .testimonial17-card2 {
    width: 100%;
  }
  .testimonial17-card3 {
    width: 100%;
  }
  .testimonial17-card4 {
    width: 100%;
  }
}

.contact1-wrapper {
  display: contents;
}
.contact1-contact20 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.contact1-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text1 {
  align-self: stretch;
  text-align: center;
}
.contact1-text2 {
  text-align: center;
}
.contact1-email {
  text-align: center;
}
.contact1-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text3 {
  align-self: stretch;
  text-align: center;
}
.contact1-phone {
  text-align: center;
}
.contact1-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text4 {
  align-self: stretch;
  text-align: center;
}
.contact1-address {
  text-align: center;
}
.home-fragment49 {
  display: contents;
}
.home-text66 {
  display: inline-block;
}
.home-fragment46 {
  display: contents;
}
.home-text63 {
  display: inline-block;
}
.home-fragment48 {
  display: contents;
}
.home-text65 {
  display: inline-block;
}
.home-fragment47 {
  display: contents;
}
.home-text64 {
  display: inline-block;
}
@media(max-width: 767px) {
  .contact1-max-width {
    flex-direction: column;
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer4-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.home-fragment54 {
  display: contents;
}
.home-text71 {
  display: inline-block;
}
.home-fragment50 {
  display: contents;
}
.home-text67 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment51 {
  display: contents;
}
.home-text68 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment55 {
  display: contents;
}
.home-text72 {
  display: inline-block;
}
.home-fragment53 {
  display: contents;
}
.home-text70 {
  display: inline-block;
}
.home-fragment52 {
  display: contents;
}
.home-text69 {
  display: inline-block;
  text-decoration: underline;
}
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text18 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment19 {
  display: contents;
}
.home-text19 {
  display: inline-block;
}
.home-link1 {
  text-decoration: underline;
}
.home-fragment20 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text23 {
  display: inline-block;
}
.home-fragment23 {
  display: contents;
}
.home-text24 {
  display: inline-block;
}
.home-fragment24 {
  display: contents;
}
.home-text25 {
  display: inline-block;
}
.home-link2 {
  text-decoration: underline;
}
.home-fragment25 {
  display: contents;
}
.home-text27 {
  display: inline-block;
}
.home-link3 {
  text-decoration: underline;
}
.home-fragment26 {
  display: contents;
}
.home-text29 {
  display: inline-block;
}
.home-fragment27 {
  display: contents;
}
.home-text30 {
  display: inline-block;
}
.home-fragment28 {
  display: contents;
}
.home-text31 {
  display: inline-block;
}
.home-text32 {
  font-size: 20px;
}
.home-text33 {
  font-size: 20px;
}
.home-text34 {
  font-size: 20px;
}
.home-text35 {
  font-size: 20px;
}
.home-text36 {
  font-size: 20px;
}
.home-fragment29 {
  display: contents;
}
.home-text38 {
  display: inline-block;
}
.home-fragment30 {
  display: contents;
}
.home-text41 {
  display: inline-block;
}
.home-fragment31 {
  display: contents;
}
.home-text42 {
  display: inline-block;
}
.home-fragment32 {
  display: contents;
}
.home-text43 {
  display: inline-block;
}
.home-fragment33 {
  display: contents;
}
.home-text46 {
  display: inline-block;
}
.home-fragment34 {
  display: contents;
}
.home-text47 {
  display: inline-block;
}
.home-fragment35 {
  display: contents;
}
.home-text50 {
  display: inline-block;
}
.home-fragment36 {
  display: contents;
}
.home-text51 {
  display: inline-block;
}
.home-fragment37 {
  display: contents;
}
.home-text52 {
  display: inline-block;
}
.home-fragment38 {
  display: contents;
}
.home-text53 {
  display: inline-block;
}
.home-fragment39 {
  display: contents;
}
.home-text54 {
  display: inline-block;
}
.home-fragment40 {
  display: contents;
}
.home-text57 {
  display: inline-block;
}
.home-fragment41 {
  display: contents;
}
.home-text58 {
  display: inline-block;
}
.home-fragment42 {
  display: contents;
}
.home-text59 {
  display: inline-block;
}
.home-fragment43 {
  display: contents;
}
.home-text60 {
  display: inline-block;
}
.home-fragment44 {
  display: contents;
}
.home-text61 {
  display: inline-block;
}
.home-fragment45 {
  display: contents;
}
.home-text62 {
  display: inline-block;
}
.home-fragment46 {
  display: contents;
}
.home-text63 {
  display: inline-block;
}
.home-fragment47 {
  display: contents;
}
.home-text64 {
  display: inline-block;
}
.home-fragment48 {
  display: contents;
}
.home-text65 {
  display: inline-block;
}
.home-fragment49 {
  display: contents;
}
.home-text66 {
  display: inline-block;
}
.home-fragment50 {
  display: contents;
}
.home-text67 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment51 {
  display: contents;
}
.home-text68 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment52 {
  display: contents;
}
.home-text69 {
  display: inline-block;
  text-decoration: underline;
}
.home-fragment53 {
  display: contents;
}
.home-text70 {
  display: inline-block;
}
.home-fragment54 {
  display: contents;
}
.home-text71 {
  display: inline-block;
}
.home-fragment55 {
  display: contents;
}
.home-text72 {
  display: inline-block;
}
